/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background-image: url(img/sativa.png);
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
	width: 960px;
	margin: auto;
	background-color: gold;
}
.header{
	padding: 10px;
}
.header .judul{
	font-size: 40px;
	font-weight: bold;
}
.header ul li{
display: inline-block;
margin-left: 10px;
}
.header a{
	text-decoration: none; /*menghilangakn underline*/
	color:grey;
	padding: 3px;
}
.header a:hover{
	background-color: black;
	color: salmon;
}
.hero{
	height: 250px;
	background-image: url(img/hero.jpg);
	background-size: cover;
	background-position: 50px;
	border-top: 3px solid LightSteelBlue;
	border-bottom: 20px solid LightSteelBlue;
}
.main{
	width: 600px;
	padding: 15px;
	box-sizing: border-box;
	float: left;
}
.main h2{
	font-size: 30px;
	font-weight:bold;
}
.main .penulis{
	font-family: arial;
	font-size: 12px;
	text-decoration: none;
}
.main .penulis a{
	text-decoration: none;
}
.main p{
	margin-bottom: 20px;
	font-size: 13px;
}
.sidebar{
	width: 300px;
	float: right;
	padding: 15px;
}
.sidebar h3{
	font-weight: bold;
	color:#666;
}
.sidebar img{
	width: 80px;
	height: 80px;
	padding:5px;
	margin: auto;
	float: left;
}
.sidebar p {
	font: 12px/18px arial;
}
.footer{
	background-color: black;
}
.footer .copy{
	font-size: 12px;
	color:grey;
	text-align: center;
	padding: 3px;
}

/*clear fix*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}