body{
	background: #Def4f0 url(gambar/pola1.png) ;

/*
	background-color: #Def4f0;
	background-image: url(gambar/pola1.png);
	background-repeat: repeat-x;
	background-position: left top; 
*/	
}
h1{
	
}